
@{
    ViewBag.Title = "Reportes";
    if (Session["userID"] == null)
    {
        Response.Redirect("~/Home/Index");
    }
}

<link href="~/Content/css/select2.min.css" rel="stylesheet" />
<link rel="stylesheet" href="~/Content/MyStyle.css">
<h2>Reportes</h2>


@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/signature_pad/1.5.3/signature_pad.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="~/Scripts/select2.min.js"></script>
    <script src="~/Scripts/JSReporteInvestigador.js"></script>
}
